@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

$text-transform-capitalize: capitalize;
$text-transform-uppercase: uppercase;
$spacing-1: 0.1rem;
$spacing-2: 0.4rem;
$spacing-3: 0.3rem;
