.hero-background {
  background-color: rgb(238, 238, 238);
}

.hero {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  line-height: 7rem;
  text-transform: uppercase;
  letter-spacing: $spacing-1;
  font-size: 1.25rem;
  margin-left: 5%;
  margin-right: 5%;

  @include media-md {
    font-size: 1.75rem;
    line-height: 10rem;
  }

  @include media-lg {
    margin-left: 25%;
    margin-right: 25%;
  }

  .hero-image {
    display: flex;
    justify-content: center;

    img {
      width: 250px;
      border-radius: 10rem;
    }
  }

  // .name-and-job {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  // }

  .my-name {
    color: #0e5e00;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 2rem;
    @include media-md {
      line-height: 3.25rem;
    }
  }

  .job-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.5rem;
    margin-top: .5rem;
    color: black;

    @include media-md {
      line-height: 3.25rem;
    }
  }
}
