@import 'config';
@import 'button';
@import 'hero';
@import 'projects';
@import 'about';


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  
}
