@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #2c2c2c;
}

.btn-go {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 100px;
  background-color: #2c2c2c;
  color: #37c737;
  border-radius: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: 'Poppins';
  font-weight: bold;
  overflow: hidden;
  -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.hero-background {
  background-color: #eeeeee;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  line-height: 7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 768px) {
  .hero {
    font-size: 1.75rem;
    line-height: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.hero .hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-image img {
  width: 250px;
  border-radius: 10rem;
}

.hero .my-name {
  color: #0e5e00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 2.5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .hero .my-name {
    line-height: 3.25rem;
  }
}

.hero .job-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 2.5rem;
  margin-top: .5rem;
  color: black;
}

@media screen and (min-width: 768px) {
  .hero .job-title {
    line-height: 3.25rem;
  }
}

.projects-background {
  background-color: white;
}

.projects {
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
}

.projects .projects-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.projects .projects-title::after {
  content: '';
  width: 150px;
  position: absolute;
  left: auto;
  right: auto;
  bottom: -10px;
  border-width: 0 0 5px;
  border-style: solid;
  border-color: #D375FF;
}

.projects .projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .projects .projects-wrapper {
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects .projects-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1080px;
    margin: 0 auto;
  }
}

.projects .project-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  background-color: #f7f7f7;
  background-color: #eeeeee;
  border-radius: 5px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .projects .project-unit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    place-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .projects .project-unit a {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1 / 5;
  }
}

.projects .project-unit a img {
  width: 250px;
}

@media screen and (min-width: 1024px) {
  .projects .project-unit a img {
    width: 450px;
  }
}

.projects .project-name {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .projects .project-name {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    padding-top: 0;
  }
}

.projects .project-description {
  padding-left: 20px;
  padding-right: 10px;
  letter-spacing: 0.1rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 1024px) {
  .projects .project-description {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.projects .made-with {
  max-width: 80%;
  font-size: 1.15rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .projects .made-with {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects .made-with {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    padding-top: 0;
  }
}

.projects .made-with .made-with-title {
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 768px) {
  .projects .made-with .made-with-title {
    letter-spacing: 0.3rem;
  }
}

.projects .made-with .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .projects .made-with .languages {
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects .made-with .languages {
    padding-bottom: 0;
  }
}

.projects .made-with .languages img {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .projects .made-with .languages img {
    width: 3rem;
    height: 3rem;
  }
}

.projects .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  letter-spacing: .1rem;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .projects .project-links {
    font-size: 1.15rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5%;
    letter-spacing: 0.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects .project-links {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

.projects .project-links .vertical-line {
  width: 1px;
  height: 1.5rem;
  background-color: #555555;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}
/*# sourceMappingURL=styles.css.map */